<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="hp.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <title>Home</title>


</head>
<body>
        <div class="hero">
            <img src="https://blacksocialists.us/images/globesolo.gif" href="/map.html" alt="globe">
            <div class="hero-text">
                <h2>Welcome to ...</h2>
                <h1>EDEN</h1>
                <button class="enter" >Enter</button>
                <button><a href="map.html" Enter />When was the last time 50 states did something together?</button>

            </div>
        </div>

        <div class="toolbar">

        </div>

</body>
</html>
