body{
    font-family: 'Mukta', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

#map {
    height: 675px;
}
@media  only screen and (max-width: 900px) {
    #map{
    height: 200px;
    }
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://blacksocialists.us/images/globesolo.gif');
    height:700px;
    width:711px;
    margin-top: 100px;

}


.navbar-brand {
    padding-left: 10px;
    padding-top: 12px;
    font-family: Courier;
    font-weight: bolder;
    font-size: 37px;

}
.navbar-brand img{
    left-padding: 4%;
    height: 100px;
    width: 100px;
}
.navbar-nav{
    background: whitesmoke;
}
header-image{
    background: black;
    padding-left: 200px;
}
